In [ ]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 4.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=f4eeff76f33519a85c738ab478fde81aeb6b69781dea26d874256194f03864e4
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [ ]:
import pyspark

In [ ]:
pyspark

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [ ]:
df_pyspark=spark.read.csv('/content/Sales_Dataset.csv',header=True,inferSchema=True)

In [ ]:
df_pyspark

DataFrame[Order_ID: int, Date: string, Customer_ID: int, Product_ID: string, Product_Name: string, Price: double, Quantity: int]

In [ ]:
df_pyspark.show()

+--------+----------+-----------+----------+------------+------+--------+
|Order_ID|      Date|Customer_ID|Product_ID|Product_Name| Price|Quantity|
+--------+----------+-----------+----------+------------+------+--------+
|       1|01-01-2024|       1001|     P1001|    Widget A|  NULL|       2|
|       2|02-01-2024|       1002|     P1002|    Widget B| 29.99|       1|
|       3|03-01-2024|       1003|     P1003|    Widget C| 19.99|       3|
|       4|04-01-2024|       1004|     P1004|    Widget D| 99.99|       1|
|       5|05-01-2024|       1005|     P1005|    Widget E|149.99|       2|
|       6|06-01-2024|       NULL|     P1006|    Widget F| 39.99|       1|
|       7|07-01-2024|       1002|     P1007|    Widget G| 79.99|       2|
|       8|08-01-2024|       1003|     P1008|    Widget H| 49.99|       1|
|       9|09-01-2024|       1004|     P1009|    Widget I|199.99|       1|
|      10|10-01-2024|       1005|     P1010|    Widget J|  NULL|       3|
|      11|11-01-2024|       1001|     P1001|    Widget A| 49.99|       2|
|      12|12-01-2024|       1002|     P1002|    Widget B| 29.99|       2|
|      13|13-01-2024|       1003|     P1003|    Widget C| 19.99|       1|
|      14|14-01-2024|       1004|     P1004|    Widget D| 99.99|       3|
|      15|15-01-2024|       1005|     P1005|    Widget E|149.99|       1|
|      16|16-01-2024|       NULL|     P1006|    Widget F| 39.99|       2|
|      17|17-01-2024|       1007|     P1007|    Widget G| 79.99|       1|
|      18|18-01-2024|       NULL|     P1008|    Widget H| 49.99|       2|
|      19|19-01-2024|       1009|     P1009|    Widget I|199.99|       1|
|      20|20-01-2024|       1010|     P1010|    Widget J| 99.99|       4|
+--------+----------+-----------+----------+------------+------+--------+
only showing top 20 rows

In [ ]:
df_pyspark=df_pyspark.drop('Date')

In [ ]:
df_pyspark.show()

+--------+-----------+----------+------------+------+--------+
|Order_ID|Customer_ID|Product_ID|Product_Name| Price|Quantity|
+--------+-----------+----------+------------+------+--------+
|       1|       1001|     P1001|    Widget A|  NULL|       2|
|       2|       1002|     P1002|    Widget B| 29.99|       1|
|       3|       1003|     P1003|    Widget C| 19.99|       3|
|       4|       1004|     P1004|    Widget D| 99.99|       1|
|       5|       1005|     P1005|    Widget E|149.99|       2|
|       6|       NULL|     P1006|    Widget F| 39.99|       1|
|       7|       1002|     P1007|    Widget G| 79.99|       2|
|       8|       1003|     P1008|    Widget H| 49.99|       1|
|       9|       1004|     P1009|    Widget I|199.99|       1|
|      10|       1005|     P1010|    Widget J|  NULL|       3|
|      11|       1001|     P1001|    Widget A| 49.99|       2|
|      12|       1002|     P1002|    Widget B| 29.99|       2|
|      13|       1003|     P1003|    Widget C| 19.99|       1|
|      14|       1004|     P1004|    Widget D| 99.99|       3|
|      15|       1005|     P1005|    Widget E|149.99|       1|
|      16|       NULL|     P1006|    Widget F| 39.99|       2|
|      17|       1007|     P1007|    Widget G| 79.99|       1|
|      18|       NULL|     P1008|    Widget H| 49.99|       2|
|      19|       1009|     P1009|    Widget I|199.99|       1|
|      20|       1010|     P1010|    Widget J| 99.99|       4|
+--------+-----------+----------+------------+------+--------+
only showing top 20 rows

In [ ]:
df_pyspark=df_pyspark.na.drop(how="any",subset=['Customer_ID','Product_ID'])
df_pyspark=df_pyspark.dropDuplicates()

In [ ]:
df_pyspark.show()

+--------+-----------+----------+------------+------+--------+
|Order_ID|Customer_ID|Product_ID|Product_Name| Price|Quantity|
+--------+-----------+----------+------------+------+--------+
|       3|       1003|     P1003|    Widget C| 19.99|       3|
|      43|       1008|     P1004|    Widget D| 99.99|       2|
|       4|       1004|     P1004|    Widget D| 99.99|       1|
|       7|       1002|     P1007|    Widget G| 79.99|       2|
|      37|       1002|     P1008|    Widget H| 49.99|       1|
|      40|       1005|     P1001|    Widget A| 49.99|       4|
|       9|       1004|     P1009|    Widget I|199.99|       1|
|      22|       1007|     P1002|    Widget B| 29.99|       1|
|       8|       1003|     P1008|    Widget H| 49.99|       1|
|      38|       1003|     P1009|    Widget I|199.99|       2|
|       2|       1002|     P1002|    Widget B| 29.99|       1|
|      41|       1006|     P1002|    Widget B| 29.99|       1|
|      27|       1002|     P1008|    Widget H| 49.99|       1|
|      29|       1004|     P1010|    Widget J| 99.99|       1|
|      17|       1007|     P1007|    Widget G| 79.99|       1|
|      15|       1005|     P1005|    Widget E|149.99|       1|
|      47|       1002|     P1008|    Widget H| 49.99|       1|
|      33|       1008|     P1004|    Widget D| 99.99|       1|
|      36|       1001|     P1007|    Widget G| 79.99|       2|
|       5|       1005|     P1005|    Widget E|149.99|       2|
+--------+-----------+----------+------------+------+--------+
only showing top 20 rows

In [ ]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['Price'],
    outputCols=["{}_imputed".format(c) for c in ['Price']]
    ).setStrategy("mode")

In [ ]:
imputed_df = imputer.fit(df_pyspark).transform(df_pyspark)
imputed_df.show()

+--------+-----------+----------+------------+------+--------+-------------+
|Order_ID|Customer_ID|Product_ID|Product_Name| Price|Quantity|Price_imputed|
+--------+-----------+----------+------------+------+--------+-------------+
|       3|       1003|     P1003|    Widget C| 19.99|       3|        19.99|
|      43|       1008|     P1004|    Widget D| 99.99|       2|        99.99|
|       4|       1004|     P1004|    Widget D| 99.99|       1|        99.99|
|       7|       1002|     P1007|    Widget G| 79.99|       2|        79.99|
|      37|       1002|     P1008|    Widget H| 49.99|       1|        49.99|
|      40|       1005|     P1001|    Widget A| 49.99|       4|        49.99|
|       9|       1004|     P1009|    Widget I|199.99|       1|       199.99|
|      22|       1007|     P1002|    Widget B| 29.99|       1|        29.99|
|       8|       1003|     P1008|    Widget H| 49.99|       1|        49.99|
|      38|       1003|     P1009|    Widget I|199.99|       2|       199.99|
|       2|       1002|     P1002|    Widget B| 29.99|       1|        29.99|
|      41|       1006|     P1002|    Widget B| 29.99|       1|        29.99|
|      27|       1002|     P1008|    Widget H| 49.99|       1|        49.99|
|      29|       1004|     P1010|    Widget J| 99.99|       1|        99.99|
|      17|       1007|     P1007|    Widget G| 79.99|       1|        79.99|
|      15|       1005|     P1005|    Widget E|149.99|       1|       149.99|
|      47|       1002|     P1008|    Widget H| 49.99|       1|        49.99|
|      33|       1008|     P1004|    Widget D| 99.99|       1|        99.99|
|      36|       1001|     P1007|    Widget G| 79.99|       2|        79.99|
|       5|       1005|     P1005|    Widget E|149.99|       2|       149.99|
+--------+-----------+----------+------------+------+--------+-------------+
only showing top 20 rows

In [ ]:
imputed_df=imputed_df.drop('Price')
imputed_df.show()

+--------+-----------+----------+------------+--------+-------------+
|Order_ID|Customer_ID|Product_ID|Product_Name|Quantity|Price_imputed|
+--------+-----------+----------+------------+--------+-------------+
|       3|       1003|     P1003|    Widget C|       3|        19.99|
|      43|       1008|     P1004|    Widget D|       2|        99.99|
|       4|       1004|     P1004|    Widget D|       1|        99.99|
|       7|       1002|     P1007|    Widget G|       2|        79.99|
|      37|       1002|     P1008|    Widget H|       1|        49.99|
|      40|       1005|     P1001|    Widget A|       4|        49.99|
|       9|       1004|     P1009|    Widget I|       1|       199.99|
|      22|       1007|     P1002|    Widget B|       1|        29.99|
|       8|       1003|     P1008|    Widget H|       1|        49.99|
|      38|       1003|     P1009|    Widget I|       2|       199.99|
|       2|       1002|     P1002|    Widget B|       1|        29.99|
|      41|       1006|     P1002|    Widget B|       1|        29.99|
|      27|       1002|     P1008|    Widget H|       1|        49.99|
|      29|       1004|     P1010|    Widget J|       1|        99.99|
|      17|       1007|     P1007|    Widget G|       1|        79.99|
|      15|       1005|     P1005|    Widget E|       1|       149.99|
|      47|       1002|     P1008|    Widget H|       1|        49.99|
|      33|       1008|     P1004|    Widget D|       1|        99.99|
|      36|       1001|     P1007|    Widget G|       2|        79.99|
|       5|       1005|     P1005|    Widget E|       2|       149.99|
+--------+-----------+----------+------------+--------+-------------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import col, format_number
df = imputed_df.withColumn("Total_Price", col("Quantity") * col("Price_imputed"))
df = df.withColumn("Total_Price", format_number(col("Total_Price"), 2))

In [ ]:
df.show()

+--------+-----------+----------+------------+--------+-------------+-----------+
|Order_ID|Customer_ID|Product_ID|Product_Name|Quantity|Price_imputed|Total_Price|
+--------+-----------+----------+------------+--------+-------------+-----------+
|       3|       1003|     P1003|    Widget C|       3|        19.99|      59.97|
|      43|       1008|     P1004|    Widget D|       2|        99.99|     199.98|
|       4|       1004|     P1004|    Widget D|       1|        99.99|      99.99|
|       7|       1002|     P1007|    Widget G|       2|        79.99|     159.98|
|      37|       1002|     P1008|    Widget H|       1|        49.99|      49.99|
|      40|       1005|     P1001|    Widget A|       4|        49.99|     199.96|
|       9|       1004|     P1009|    Widget I|       1|       199.99|     199.99|
|      22|       1007|     P1002|    Widget B|       1|        29.99|      29.99|
|       8|       1003|     P1008|    Widget H|       1|        49.99|      49.99|
|      38|       1003|     P1009|    Widget I|       2|       199.99|     399.98|
|       2|       1002|     P1002|    Widget B|       1|        29.99|      29.99|
|      41|       1006|     P1002|    Widget B|       1|        29.99|      29.99|
|      27|       1002|     P1008|    Widget H|       1|        49.99|      49.99|
|      29|       1004|     P1010|    Widget J|       1|        99.99|      99.99|
|      17|       1007|     P1007|    Widget G|       1|        79.99|      79.99|
|      15|       1005|     P1005|    Widget E|       1|       149.99|     149.99|
|      47|       1002|     P1008|    Widget H|       1|        49.99|      49.99|
|      33|       1008|     P1004|    Widget D|       1|        99.99|      99.99|
|      36|       1001|     P1007|    Widget G|       2|        79.99|     159.98|
|       5|       1005|     P1005|    Widget E|       2|       149.99|     299.98|
+--------+-----------+----------+------------+--------+-------------+-----------+
only showing top 20 rows

In [ ]:
df.write.csv("cleaned_data.csv", header=True)

In [ ]:
total_sales_by_product = df.groupBy("Product_ID") \
    .agg(format_number(sum(col("Total_Price")), 2).alias("Total_Sales_Amount")) \
    .orderBy("Product_ID")

# Show the result
total_sales_by_product.show()

+----------+------------------+
|Product_ID|Total_Sales_Amount|
+----------+------------------+
|     P1001|            649.87|
|     P1002|            209.93|
|     P1003|             99.95|
|     P1004|            899.91|
|     P1005|          1,799.88|
|     P1006|            119.97|
|     P1007|            559.93|
|     P1008|            199.96|
|     P1009|          1,599.92|
|     P1010|            749.91|
+----------+------------------+

In [ ]:
# Stop the SparkSession
spark.stop()